
agora-python-server-sdk==2.2.0

certbot==1.21.0
certbot-nginx==1.21.0

configobj==5.0.6

dtmf==1.1.0

hyperlink==21.0.0

numpy==2.2.1
oauthlib==3.2.0
parsedatetime==2.6

PyAudio==0.2.14
pyee==12.1.1
PyGObject==3.42.1
PyHamcrest==2.0.2

pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu4
python-debian==0.1.43+ubuntu1.1

scipy==1.15.1

ssh-import-id==5.11

ufw==0.36.1
